.username-content {
     display: flex;
     flex-direction: column;
}
.username-content  h2 {
      display: none;
}
.username-content  ul {
      margin-top: 1rem;
}
.username-content  ul li a {
      font-size: .9rem;
      font-weight: 500;
      color: rgba(19, 189, 132, 0.93);
}
.username-content  ul li a:hover {
      font-size: 1.1rem;
      color: rgb(14, 222, 152);
}
.username-content  ul li a:active {
      color: rgb(48, 255, 186);
      font-size: 1.2rem;
}