.header-container {
      height: 5vh;
      width: 100%;
      display: flex;
      border-bottom: 1px solid rgb(0, 112, 241);

      margin-top: 1rem;
}
.header-container div {
     margin-left: 3rem;
}
.header-container div h1  {
     font-size: 1.1rem;
     font-weight: 600;
     user-select: none;
     color: rgb(14, 222, 152);
}



